<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>integration-repos</id>
			<repositories>
				<repository>
					<id>zugpronexus.snapshots</id>
					<name>Integration repository ZUG</name>
					<snapshots>
						<updatePolicy>always</updatePolicy>
					</snapshots>
					<url>http://zugpronexus:8081/nexus/content/groups/build</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>zugpronexus.snapshots</id>
					<name>Internal Plugin Build Integration Repository</name>
					<url>http://zugpronexus:8081/nexus/content/groups/build-plugins</url>
					<snapshots>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>integration-repos</activeProfile>
	</activeProfiles>

</settings>
