<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>integration-versions</id>
      <properties>
        <project-build-plugin-version>7.2.0</project-build-plugin-version>
        <maven-dependency-plugin-version>3.0.2</maven-dependency-plugin-version>
        <maven-deploy-plugin-version>2.8.2</maven-deploy-plugin-version>
      </properties>
    </profile>
    <profile>
      <id>integration-project-build-plugin</id>
      <properties>
        <ivy.engine.directory>${java.io.tmpdir}/ivy-engine</ivy.engine.directory>
        <ivy.engine.list.url>http://zugprobldmas/job/Trunk_All/lastSuccessfulBuild/</ivy.engine.list.url>
        <ivy.engine.version>[7.1.0,]</ivy.engine.version>
      </properties>
    </profile>
    <profile>
      <id>integration-dist</id>
      <properties>
        <altSnapshotDeploymentRepository>repo.axonivy.io::default::https://repo.axonivy.io/artifactory/ext-snapshot-local</altSnapshotDeploymentRepository>
      </properties>
    </profile>
    <profile>
      <id>integration-repos</id>
      <repositories>
        <repository>
          <id>axonivy</id>
          <url>https://repo.axonivy.io/artifactory/ext-release-local</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>zugpronexus.snapshots</id>
          <name>Integration repository ZUG</name>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
          <url>http://zugpronexus:8081/nexus/content/groups/build</url>
          <layout>default</layout>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>zugpronexus.snapshots</id>
          <name>Internal Plugin Build Integration Repository</name>
          <url>http://zugpronexus:8081/nexus/content/groups/build-plugins</url>
          <snapshots>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>integration-versions</activeProfile>
    <activeProfile>integration-project-build-plugin</activeProfile>
    <activeProfile>integration-dist</activeProfile>
    <activeProfile>integration-repos</activeProfile>
  </activeProfiles>

</settings>
