<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.ivyteam.ivy.java.IIvyProjectClassPathExtension">
      <ivyProjectClassPathExtension
            class="ch.ivyteam.ivy.LicenseClasspathProvider">
      </ivyProjectClassPathExtension>
   </extension>

</plugin>
