name: Release Drafter

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  contents: write
  pull-requests: write

jobs:
  release_drafter:
    uses: axonivy-market/github-workflows/.github/workflows/release-drafter.yml@v6
